body{
	font-family: 'Noto Sans JP', sans-serif;
/*	background-image: url("bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #2A3950;
}

.todoList{
/*	overflow: scroll;*/
	position: relative;
	width: 360px;
	height: 480px;
	top: 145px;
	left: 154px;
	border: 4px solid #E65C4F;
	border-radius: 4px;
}

.listHead{
	width: 360px;
	height: 40px;
	background: #E65C4F;

}

.headText{
	position: relative;
	left: 16px;
	top: 2px;
	width: 202px; height: 33px;
	font-family: Poppins;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	align-items: center;
	color: #2A3950;

}


.input{

}

.ipt{
	position: relative;
	left: 18px;
	top: 20px;
	color: white;
	text: white;
	font-family: Poppins;
	text-align: center;
	width: 229.7px;
	height: 33px;
	border: 1px solid #E65C4F;
	border-radius: 4px;
	background:#2A3950;

}

.btn{
	position: relative;
	top: 20px;
	left: 28px;
	color: white;
	background: #E65C4F;
	width: 80px;
	height: 33px;
	font-family: Poppins;
	font-weight: bold;
	text-align: center;
	border: 4px solid #E65C4F;
	border-radius: 4px;
}

.ul{
	overflow-x: hidden;
	overflow-y: auto;
	list-style-type: ;
	position: relative;
	left: 20px;
	height:330px; width: 280px;
	top: 30px;
	right: 20px;
}

.li{
	position: relative;
	right: 40px;
	line-height: 40px;
	margin: 5px;
	width: 290px; height: 50px;
	background-color: #E65C4F;
	opacity: 0.2;
	color: white;
	font-weight: bold;
	overflow-x: auto;
	overflow-y: hidden;
}

.delbtn{
	background-image: url("cross.png");
	background-color: transparent ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 14px;
	width: 14px;
	position: relative;
	bottom: 56px;
	left: 218px;
	border: none;
	
}

.chkbtn{
	background-image: url("tick.png");
	background-color: transparent ;
	height: 16px;
	width: 16px;
	position: relative;
	bottom: 22px;
	left: 235px;
	border: none;
}

.C-list{
	position: relative;
	width: 360px;
	height: 480px;
	bottom: 343px;
	left: 670px;
	border: 4px solid #78A6C8;
	border-radius: 4px;
}

.C-listHead{
	width: 360px;
	height: 40px;
	background: #78A6C8;
}

.C-headText{
	position: relative;
	left: 16px;
	top: 2px;
	width: 202px; height: 33px;
	font-family: Poppins;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	align-items: center;
	color: #2A3950;
}

.C-ul{
	overflow-x: hidden;
	overflow-y: auto;
	list-style-type: ;
	position: relative;
	left: 20px;
	height:380px; width: 280px;
	top: 5px;
	right: 20px;
}

.C-li{
	position: relative;
	right: 40px;
	line-height: 40px;
	margin: 5px;
	width: 290px; height: 50px;
	background-color: #78A6C8;
	opacity: 0.2;
	color: white;
	font-weight: bold;
	overflow-x: auto;
	overflow-y: hidden;
}

.CDbtn{
	background-image: url("cross.png");
	background-color: transparent ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 14px;
	width: 14px;
	position: relative;
	bottom: 56px;
	left: 235px;
	border: none;
}

.liText{
	font-family: Poppins;
	color: white;
	position: absolute;
	z-index: 1;
	opacity: 1;
}

::placeholder { 
  color: white;
  font-family: Poppins;
  opacity: 1;
}

.ul::-webkit-scrollbar {
  width: 2px; 
}

.ul::-webkit-scrollbar-track {
  background: transparent;
}

.ul::-webkit-scrollbar-thumb {
  background-color: ghostwhite;
  border-radius: 2px;
}

.C-ul::-webkit-scrollbar {
  width: 2px; 
}

.C-ul::-webkit-scrollbar-track {
  background: transparent;
}

.C-ul::-webkit-scrollbar-thumb {
  background-color: ghostwhite;
  border-radius: 2px;
}


/*.calendar{
	height: 130px;
	width: 130px;
	float: right;
}*/